.pr-banner .swiper-button-prev:after, 
.pr-banner .swiper-button-next:after {
    font-size: 25px;
    font-weight: 700;
    color: #000;
}
.pr-banner .swiper-wrapper {
    z-index: -1;
}
.pr-banner .swiper-slide {
    z-index: -1;
}
.pr-banner .swiper-pagination {
    bottom: 20%;
}

.pr-banner .swiper-pagination-bullet {
    background: #ec3f78;
}

.pr-banner .banner-text {
    position: absolute;
    top: 10px;
    max-width: 60%;
    text-align: left;
}

.banner-text .banner-heading {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ec407c;
    margin: 0;
}

.banner-text p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: italic;
    color: #000;
    text-align: left;
    margin: 0;
    margin-top: 5px;
}

.banner-text a {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    padding: 5px 30px;
    background: #ec407c;
    color: #fff;
    border-radius: 15px;
    margin-top: 10px;
    display: inline-block;
}