@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.wrapper-1374 {
  max-width: 1374px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper-1320 {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: 1200px) {
    .pr-banner .banner-text {
        padding: 0 15px !important;
    }
    .Send-Gift-heading {
        white-space: inherit !important;
    }
    .img-text {
        margin-right: 0px !important;
    }
    .confession_stories .confession_stories_right .swiper-container {
      padding: 20px 0 !important;
    }
    .mgift-listing-inner li img {
      max-width: 100% !important;
    }
}
@media screen and (max-width: 991px) {
  .confession_stories .confession_stories_right .swiper-container {
    padding: 10px 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .gift-listing-inner {
      flex-wrap: wrap !important;
  }
  .gift-listing-inner li {
      width: 49% !important;
  }
  .mgift-listing {
    overflow-y: hidden !important;
  }
  .mgift-listing-inner {
    padding: 0 !important;
    min-width: 768px !important;
  }
  .mgift-listing-inner li {
    margin-top: 30px !important;
    min-width: 150px !important;
  }
  .confession_stories .confession_stories_inner {
    flex-wrap: wrap !important;
  }
  .confession_stories .confession_stories_left {
    max-width: 100% !important;
    margin-left: 0 !important;
  }
  .confession-image .frame {
    width: 80% !important;
  }
  .confession-image .banner-img img {
    width: 62% !important;
    max-width: 62% !important;
  }
  .confession_stories .confession_stories_right {
    max-width: 100% !important;
    padding-left: 20px !important;
    margin-top: -100px !important;
    padding-top: 100px !important;
  }
  .confession_stories_right .swiper-button-prev, 
  .confession_stories_right .swiper-button-next {
    display: none !important;
  }
  .confession_stories .confession_stories_right p {
    font-size: 15px !important;
  }
  .confession_stories .confession_stories_right a {
    margin-top: 30px !important;
  }
  .confession_stories .confession_stories_right .swiper-container {
    padding: 40px 0 !important;
  }
  .confession-image .frame {
    transform: translate(-0%, -4%) !important;
  }
}

@media screen and (max-width: 575px) {
  /* .pr-banner {
    height: 50vh;
  } */
  .pr-banner .swiper-button-prev, .pr-banner .swiper-button-next {
      display: none !important;
  }
  .bg-heart-image {
    padding: 0 0 0 !important;
  }
  .mgift-listing-inner {
    padding: 0 !important;

  }
  .mgift-listing-inner li {
    margin-top: 30px !important;
  }
}
@media screen and (max-width: 425px) {
  .banner-text .banner-heading {
    font-size: 24px !important;
  }
  .banner-text p {
    font-size: 15px !important;
  }
  .banner-text a {
    font-size: 15px !important;
  }
  .bg-pink {
    margin-top: 0 !important;
  }
  .pr-banner .swiper-pagination {
    bottom: 3% !important;
  }
  .Send-Gift-heading {
    font-size: 30px !important;
  }
  .confession_stories .confession_stories_right h4 {
    font-size: 30px !important;
  }
  .heading-and-img {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .heading-and-img .rose-day-img-text {
    align-self: flex-end;
  }
  .gift-listing-inner {
    margin-top: 10px !important;
  }
  .gift-listing-inner li {
    padding-top: 10px !important;
  }
  .gift-listing-inner li p,
  .mgift-listing-inner li p {
    font-size: 15px !important;
  }
  .confession-image .frame {
    width: 90% !important;
  }
  .confession-image .banner-img img {
    width: 70% !important;
    max-width: 70% !important;
  }
}
@media screen and (max-width: 375px) {
  .pr-banner .banner-text {
    max-width: 80% !important;
  }
}